/*------PALETA COLORES--------*/
/*-------- Colores Generales -------*/
/* Articulo Inicio */
.fondo-negro {
  background-color: #212121; }

.fondo-verde {
  background-color: #6d9886; }

.fondo-beige {
  background-color: #d9cab3; }

.fondo-blanco {
  background-color: #f6f6f6; }

.letra-negro {
  color: #212121; }

.letra-verde {
  color: #6d9886; }

.letra-beige {
  color: #d9cab3; }

.letra-blanco {
  color: #f6f6f6; }

.border-negro {
  border: solid 3px #212121; }

.border-verde {
  border: solid 3px #6d9886; }

.border-beige {
  border: solid 3px #d9cab3; }

.border-blanco {
  border: solid 3px #f6f6f6; }

#paginaInicio {
  display: grid;
  grid-template-areas: "header header" "articulo presentacion" "productosInicio productosInicio" "footerInicio footerInicio";
  grid-template-columns: 150px 4fr;
  grid-template-rows: 120px 4fr 1fr 70px; }

.presentacionWeb {
  grid-area: presentacion;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .presentacionWeb .infoPrincipal {
    text-align: center;
    height: 270px;
    padding: 10px;
    overflow: visible; }
    .presentacionWeb .infoPrincipal h2 {
      font-size: 40px; }

.articulo {
  grid-area: articulo;
  background-color: #4d5248;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: right; }
  .articulo div {
    background-color: #d9cab3;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: skew(8deg);
    margin-left: 20px; }
    .articulo div img {
      height: 150px;
      width: 150px;
      padding: 10px; }

#productos {
  grid-area: productosInicio;
  text-align: center;
  background-color: #d9cab3;
  margin: 0;
  padding: 2.5%; }
  #productos h2 {
    background-color: #212121;
    color: snow;
    width: 25%;
    margin-left: 37%;
    padding: 25px;
    border-bottom: solid #faf7f7 10px;
    border-left: solid #f5f2f2 15px; }
  #productos a {
    text-decoration: none; }
  #productos :hover {
    background-color: #575757;
    color: #b3b2b2; }

.paginaProducto {
  display: grid;
  grid-template-areas: "header" "presentacionProducto" "footerInicio";
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 90px; }
  .paginaProducto .presentacionProducto {
    grid-area: presentacionProducto;
    background-color: #6d9886;
    color: #212121;
    padding: 120px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center; }
    .paginaProducto .presentacionProducto h2 {
      font-size: 40px;
      background-color: #f6f6f6;
      margin-bottom: 20px;
      transform: skew(10deg);
      background: linear-gradient(75deg, #bdbaba, #e7e7e7);
      width: 400px;
      height: 50px; }
    .paginaProducto .presentacionProducto .productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
    .paginaProducto .presentacionProducto .producto {
      margin-top: 0px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 2%;
      width: 270px;
      height: 370px;
      margin-bottom: 230px;
      margin-right: 1%;
      margin-left: 1%; }
      .paginaProducto .presentacionProducto .producto h3 {
        font-weight: bold;
        margin-top: 14px;
        font-size: 30px; }
      .paginaProducto .presentacionProducto .producto table {
        width: 270px;
        height: 170px; }
      .paginaProducto .presentacionProducto .producto table td {
        padding: 2px 15px 5px 15px;
        text-align: left; }
      .paginaProducto .presentacionProducto .producto table td ul {
        list-style: circle; }
      .paginaProducto .presentacionProducto .producto input {
        width: 100%;
        padding: 10px;
        margin: 15px;
        border: none;
        background-color: #e6e4e4;
        font-weight: bold; }
      .paginaProducto .presentacionProducto .producto input:hover {
        background-color: #b8b7b7; }
      .paginaProducto .presentacionProducto .producto .imgProducto {
        width: 300px;
        height: 250px;
        margin-left: 2.7%;
        margin-bottom: 0px;
        border: solid 2px #212121; }

.paginaNosotros {
  display: grid;
  grid-template-areas: "header" "presentacionProducto" "ubicaciones" "footerInicio";
  grid-template-columns: 1fr;
  grid-template-rows: 120px 600px 1fr 100px; }

#sobreNostros {
  background-color: #6d9886;
  color: #212121;
  padding: 20px;
  margin: 0;
  text-align: center; }

#sobreNostros h2 {
  text-transform: uppercase;
  color: #494848;
  letter-spacing: 2 5px; }

#sobreNostros p {
  color: #494848;
  line-height: 1.6; }

.infoNosotros {
  background-image: url("https://img4.goodfon.com/wallpaper/nbig/4/1c/mate-water-yerba-mate.jpg");
  background-color: #acacac;
  background-blend-mode: lighten;
  width: 50%;
  margin: 2% 25% 0px 25%;
  padding: 25px; }

#ubicaciones {
  grid-area: ubicaciones;
  background-color: #d9cab3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 40px; }

.ubicacion {
  background-color: #d4d4d4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  margin: 10px; }

.ubicacion img {
  border: solid 10px #aeb6a5; }

#preguntasFrecuentes {
  background-color: #6d9886;
  color: #212121;
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  #preguntasFrecuentes .pregunta {
    margin-bottom: 20px;
    background-color: #f6f6f6;
    padding: 20px;
    margin-top: 20px; }

#seccionContacto {
  background-color: #6d9886;
  color: #212121;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #seccionContacto #seccionContacto label {
    font-weight: bold; }
  #seccionContacto #contactoForm {
    background-color: rgba(217, 202, 179, 0.808);
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 20px;
    border-radius: 2%;
    margin: 10px; }

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1300px) {
  #paginaInicio {
    grid-template-areas: "header" "presentacion" "productosInicio" "aside" "footerInicio";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 400px 150px 300px 100px; }
  .infoPrincipal {
    background-color: rgba(165, 159, 146, 0.685);
    height: 155px;
    width: 170px;
    padding: 10px;
    overflow: visible; }
  .infoPrincipal h3 {
    font-size: 27px; }
  .infoPrincipal img {
    width: 150px;
    height: 150px; }
  header li {
    padding: 10px; }
  header h1 {
    font-size: 25px; }
  .articulo {
    flex-direction: row;
    align-items: center; } }

/*Mobile*/
@media only screen and (max-width: 767px) {
  .articulo {
    flex-direction: row; }
  .articulo div {
    background-color: rgba(217, 202, 179, 0.808);
    justify-content: row;
    transform: scale(0.8, 0.8); }
  /*
    .articulo div img {
      height: 75px;
      width: 75px;
      padding: 50px;
    }
    .articulo h3 {
      margin: -10px;
      font-size: 15px;
      justify-content: stretch;
      color: white;
    }
  */
  #paginaInicio {
    grid-template-areas: "header" "presentacion" "productosInicio" "aside" "footerInicio";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 400px 150px 250px 100px; }
  header li {
    padding: 10px; }
  header h1 {
    font-size: 20px; }
  header img {
    height: 90px;
    width: 90px; }
  .infoPrincipal {
    background-color: rgba(165, 159, 146, 0.685);
    height: 150px;
    width: 120px;
    padding: 10px;
    overflow: visible; }
  .infoPrincipal h3 {
    font-size: 20px; }
  .infoPrincipal img {
    width: 110px;
    height: 120px; } }

/*------------- Varibles --------------- */
/* ------------ CONSTANTES ------------- */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #d9cab3;
  font-family: "Roboto", sans-serif; }

header {
  grid-area: header;
  background: linear-gradient(0deg, #3c3c3c 10%, #2f2f2f 50%, #2e2e2e 100%);
  padding: 10px;
  z-index: 1;
  overflow: hidden;
  position: sticky;
  top: 0; }
  header h1 {
    color: #e9dede;
    margin-left: 1%;
    margin: 0.2%;
    margin-top: -100px;
    display: inline-block; }
  header img {
    border-radius: 50%;
    margin: 1px 20px 0px 10px;
    display: inline-block;
    opacity: 0.6; }
  header ul {
    background-color: rgba(0, 0, 255, 0);
    margin-top: -130px;
    padding-top: 60px;
    float: right;
    height: 100px; }
    header ul a {
      list-style-type: none;
      text-decoration: none;
      color: whitesmoke; }
      header ul a li {
        list-style: none;
        padding: 40px;
        margin: 0;
        font-weight: bold;
        display: inline;
        transition: all 0.5s; }
    header ul li:hover {
      padding: 50px;
      background-color: #777676;
      color: antiquewhite; }

section {
  animation-name: un_efecto;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
  animation-iteration-count: initial; }

aside {
  animation-name: un_efecto;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
  animation-iteration-count: initial; }

@keyframes un_efecto {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

ul {
  background-color: aliceblue; }

footer {
  grid-area: footerInicio;
  background-color: #f6f6f6;
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  footer ul {
    padding: 20px;
    list-style: circle; }
    footer ul li {
      display: inline-block;
      margin-left: 20px; }
      footer ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold; }
