@mixin size($width, $height) {
  width: $width;
  height: $height;
}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1300px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    nav {
      display: flex;
      flex-direction: row;
      align-items: right;
      ul {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 10px;
        float: right;
        height: 0px;
        li {
          list-style: none;
          padding: 10px;

          margin: 0;
          font-weight: bold;
          display: inline;
          transition: all 0.5s;
          a {
            list-style-type: none;
            text-decoration: none;
            color: whitesmoke;
          }
        }
        li:hover {
          padding: 20px;
          background-color: rgb(119, 118, 118);
          color: antiquewhite;
        }
      }
    }
    h1 {
      color: $blanco_menu;
      margin-left: 1%;
      margin: 0.2%;
      margin-top: 0;
      display: inline;
    }
    img {
      @include size(50px, 50px);
      border-radius: 50%;
      display: inline-block;
      opacity: 0.6;
      margin: 0;
    }
  }
}

/*Mobile*/
@media only screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    nav {
      display: flex;
      flex-direction: row;
      align-items: right;
      ul {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 10px;
        float: right;
        height: 0px;
        li {
          list-style: none;
          padding: 10px;
          font-size: 10px;
          margin: 0;
          font-weight: bold;
          display: inline;
          transition: all 0.5s;

          a {
            list-style-type: none;
            text-decoration: none;
            color: whitesmoke;
          }
        }
        li:hover {
          padding: 20px;
          background-color: rgb(119, 118, 118);
          color: antiquewhite;
        }
      }
    }
    h1 {
      color: $blanco_menu;
      margin-left: 1%;
      margin: 0.2%;
      margin-top: 0;
      display: inline;
    }
    img {
      @include size(50px, 50px);
      border-radius: 50%;
      display: inline-block;
      opacity: 0.6;
      margin: 0;
    }
  }
  footer {
    #redesSociales {
      font-size: 12px;
    }
    font-size: 14px;
  }
}
