@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.paginaProducto {
  display: grid;
  grid-template-areas:
    "header"
    "presentacionProducto"
    "footerInicio";
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 90px;

  .presentacionProducto {
    grid-area: presentacionProducto;
    background-color: rgb(109, 152, 134);
    color: rgb(33, 33, 33);
    padding: 120px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
      font-size: 40px;
      background-color: rgb(246, 246, 246);
      margin-bottom: 20px;
      transform: skew(10deg);
      background: linear-gradient(
        75deg,
        rgb(189, 186, 186),
        rgb(231, 231, 231)
      );
      @include size(400px, 50px);
    }

    .productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .producto {
      margin-top: 0px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 2%;
      @include size(270px, 370px);
      margin-bottom: 230px;
      margin-right: 1%;
      margin-left: 1%;

      h3 {
        font-weight: bold;
        margin-top: 14px;
        font-size: 30px;
      }
      table {
        @include size(270px, 170px);
      }
      table td {
        padding: 2px 15px 5px 15px;
        text-align: left;
      }
      table td ul {
        list-style: circle;
      }
      input {
        width: 100%;
        padding: 10px;
        margin: 15px;
        border: none;
        background-color: $paleta_white - 50;
        font-weight: bold;
      }
      input:hover {
        background-color: $paleta_white - 50 + 40;
      }

      .imgProducto {
        @include size(300px, 250px);
        margin-left: 2.7%;
        margin-bottom: 0px;
        border: solid 2px $paleta_negro;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1300px) {
  .paginaProducto {
    .presentacionProducto {
      padding: 50px 10px;
      h2 {
        transform: scale(0.5, 0.5);
        font-size: 40px;
        background-color: rgb(246, 246, 246);
        margin: 30px 0px;
        transform: skew(15deg);
        background: linear-gradient(
          75deg,
          rgb(189, 186, 186),
          rgb(231, 231, 231)
        );
        @include size(250px, 50px);
      }

      .productos {
        background-color: red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .producto {
        transform: scale(0.7, 0.7);

        @include size(270px, 370px);
        margin-bottom: 30px;
        margin-right: -3%;
        margin-left: -3%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .paginaProducto {
    .presentacionProducto {
      padding: 50px 10px;
      h2 {
        transform: scale(0.5, 0.5);
        font-size: 40px;
        background-color: rgb(246, 246, 246);
        margin: 30px 0px;
        transform: skew(15deg);
        background: linear-gradient(
          75deg,
          rgb(189, 186, 186),
          rgb(231, 231, 231)
        );
        @include size(250px, 50px);
      }

      .productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .producto {
        transform: scale(0.7, 0.7);

        @include size(270px, 370px);
        margin-bottom: 30px;
        margin-right: -5%;
        margin-left: -5%;
      }
    }
  }
}
