@mixin size($width, $height) {
  width: $width;
  height: $height;
}


.paginaProducto {
    display: grid;
    grid-template-areas:
      "header"
      "presentacionProducto"
      "footerInicio";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 90px;
  

.presentacionProducto {
    grid-area: presentacionProducto;
    background-color: rgb(109, 152, 134);
    color: rgb(33, 33, 33);
    padding: 120px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  
   h2 {
    font-size: 40px;
    background-color: rgb(246, 246, 246);
    margin-bottom: 20px;
    transform: skew(10deg);
    background: linear-gradient(75deg, rgb(189, 186, 186), rgb(231, 231, 231));
    @include size(400px,50px);
  }

  
  .productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .producto {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
    @include size(270px,370px); 
    margin-bottom: 230px;
    margin-right: 1%;
    margin-left: 1%;
  
   h3 {
    font-weight: bold;
    margin-top: 14px;
    font-size: 30px;
  }
   table {
    @include size(270px,170px); 
    
  }
   table td {
    padding: 2px 15px 5px 15px;
    text-align: left;
  }
   table td ul {
    list-style: circle;
  }
    input {
    width: 100%;
    padding: 10px;
    margin: 15px;
    border: none;
    background-color: rgb(230, 228, 228);
    font-weight: bold;
  }
  input:hover {
    background-color: rgb(184, 183, 183);
  }

  .imgProducto {
    @include size(300px,250px);
    margin-left: 2.7%;
    margin-bottom: 0px;
    border: solid 2px $paleta_negro;
  }
}
}
}